# only install uncommon packages in colab

# midi
py_midicsv==1.9.0  # reading midi from csv
pypianoroll==0.5.0  # reading midi in piano roll representation
mido==1.2.9  # reading midi in pythonic, class-based form
pygame==1.9.6  # playing midi in python

# scripting
argparse==1.4.0  # parametrize the scripts to run them from the console
